body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding-top: 10px
	padding-bottom: 5px
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 30px;
}

nav {
	color: #fff;
	padding: 10px;
	text-align: center;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	font-size: 18px;
}

nav a:hover {
	color: #f2f2f2;
}

section {
	padding: 20px;
	margin-top: 20px;
	background-color: #fff;
	border-radius: 5px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer p {
	margin: 0;
	font-size: 14px;
}

.profile {
  display: flex; /* 将父容器变为Flex布局 */
  align-items: center; /* 垂直居中对齐 */
}

.profile img {
  width: 50px; /* 设置头像图片的宽度 */
  height: 50px; /* 设置头像图片的高度 */
  border-radius: 50%; /* 设置圆形边框 */
  margin-right: 10px; /* 设置头像图片和文本之间的右侧间距 */
}